.input-container {
  margin-block: 1rem;
}

.input {
  padding-block: 2rem;
  padding-inline: 3rem;
  font-size: 1.25rem; /* Default font size for larger screens */
}

@media (max-width: 760px) {
  .input {
    padding-block: 1.2rem;
    padding-inline: 1rem;
    font-size: 1rem; /* Smaller font size for small screens */
  }
}

@media (max-width: 480px) {
  .input {
    padding-block: 1rem;
    padding-inline: 0.8rem;
    font-size: 0.875rem; /* Even smaller font size for extra small screens */
  }
}
